<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Главная страница</title>
</head>

<style>
    .Main {
        display: flex;
        flex-direction: row;
    }

    .block {
        display: flex;
        flex-direction: column;
        min-width: 200px;
        padding: 10px;
    }

    .block form {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    input,
    button {
        margin-bottom: 10px;
    }
</style>

<body>
    <h1>Привет, это все пользователи</h1>
    <div class="Main">
        <div class="block">
            <h3>Наша бд сейчас</h3>
            <% users.forEach((user)=>{ %>
                <p>
                    <%= user.name %>
                    :
                    <%= user.color %>
                </p>
                <% }) %>
        </div>
        <div class="block">
            <h3>Добавить пользователя</h3>
            <form action="/users/change/add" method="POST">
                <input type="text" id="name" name="name">
                <input type="text" id="color" name="color">
                <button type="submit">ОК</button>
            </form>
        </div>
        <div class="block">
            <h3>Обновить пользователя</h3>
            <form action="/users/change/update" method="POST">
                <input type="text" id="name" name="name">
                <input type="text" id="color" name="color">
                <button type="submit">ОК</button>
            </form>
        </div>
        <div class="block">
            <h3>Удалить пользователя</h3>
            <form action="/users/change/delete" method="POST">
                <input type="text" id="name" name="name">
                <button type="submit">ОК</button>
            </form>
        </div>
    </div>
</body>

</html>